<%- include('layout/header', { title: '微博 - 错误页' , isNav: true })%>

    <div class="container margin-top-20">
        <div class="row">
            <!-- 左侧 -->
            <div class="col-8">
                首页
            </div>
        </div>
    </div>

    <%- include('layout/footer')%>